*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}

html {
    scroll-behavior: smooth;
  }



.navbareci {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    font-size: 15px;
    border-bottom: 1px solid black;
    background-color: white;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    img{
        width: 50%;
        padding: 0 0 0 30px;
        cursor: pointer;
    }

    ul{
        display: flex;
        padding: 50px;
        margin: auto;
    }
    li{
        padding: 30px;
        text-decoration: none;
        list-style-type: none;
        font-size: 22px;
        font-weight: bolder;
        cursor: pointer;
        

        &:hover{
            color: rgb(289, 82, 82);
        }
    }
    .mobile-menu {
        display: none;
    }

    @media screen and (max-width:850px){
        .mylinks {
            background-color: white;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            justify-content: center;
            align-items: center;
            transition: 0.5s ease-out;
            opacity: 0;
        }

        .mylinks.activate{
            background-color: white;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            justify-content: center;
            align-items: center;
            opacity: 1;
        }

        .fa-solid {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .mobile-menu{
            display: block;
            font-size: 50px;
            padding: 50px;
            color: rgb(289, 82, 82);
            z-index: 1;
            
            i{
                cursor: pointer;
            }
        }

        
    }

}


.active{
    border-bottom: 5px solid rgb(289, 82, 82);
}


main {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border-bottom: 1px solid black;


    video{
        position: absolute;
        z-index: -1;

    }

    .contact-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;

        h3{
            padding: 10px;
            font-size: 22px;
        }
        button {
            border: none;
            background-color: rgb(289, 82, 82);
            color: white;
            font-size: 33px;
            cursor: pointer;
            transition: 0.5s ease;
            width: 150px;
            border-radius: 10px;
            

            &:hover {
                color: black;
            }
        }

        h3{
            display: flex;
            align-items: center;
            justify-content: center;
        }
       .fa-phone {
           padding: 10px;
           font-size: 30px;
           color: rgb(289, 82, 82);
       }
    }

    @media screen and (max-width:1280px){
        video {
           width: 100%;
           top: 50px;
        }

        .desc-contact {
            margin-top: 300px;
            h1 {

                font-size: 22px;
            }
        }

        .contact-button{
            flex-direction: column;
        }
    }
   
}



.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;


    .card {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 100px 0 0 0;
        box-shadow: 1px 5px 8px 10px #e4e1e196;
        transform: scale(0.9);
        transition: 0.5s ease;
        cursor: pointer;
        border-radius: 30px;
        height: 550px;

        img{
            width: 80%;
        }
        

        &:hover{
            transform: scale(1);
        }

        h1{
            padding: 10px;
        }

        p{
            padding: 0 20px;
            font-size: 18px;
        }

        button{
            margin-top: 40px;
            border: none;
            background-color: rgb(289, 82, 82);
            color: white;
            font-size: 33px;
            cursor: pointer;
            transition: 0.5s ease;
            width: 150px;
            border-radius: 10px;
            

            &:hover {
                color: black;
            }
        }
        
    }
}

@media screen and (max-width:1280px){
    .cards {
        flex-direction: column;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;

    img{
        width: 50vw;
    }

    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        h1{
            padding: 30px 30px 1px 30px;
            font-size: 40px;
            font-weight: bolder;
            color:rgb(289, 82, 82);
        }
        
        p{
            padding: 30px 30px 1px 30px;
            font-size: 18px;
        }
    }
    
}

@media screen and (max-width:1280px){
    .about {
        flex-direction: column;

        img{
            width: 100%;
        }

        .about-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}



footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    
    .logo-cont{
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
    }
    .copyright-container{
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid black;
        cursor: pointer;
        transition: 0.5s ease;
        
        &:hover{
            background-color: black;
            color: white;
        }

        p{
            font-size: 28px;
            padding: 50px;
            font-weight: bolder;
        }
    }



   .socialcontainer{
       display: flex;
       align-items: center;
       justify-content: space-around;
       width: 100%;
       font-size: 70px;
       cursor: pointer;
   }
}

@media screen and (max-width:1280px){
    footer{
        flex-direction: column;
        
        .socialcontainer{
            border: 1px solid black;
            padding: 100px;
            transition: 0.5s ease;
            
            &:hover{
                background-color: black;
                color: white;
            }

            i{
                padding: 15px;
            }
        }
    }
   }


